@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 Preloader
/*----------------------------------------*/
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999;
	background-color: var(--vkl-text-primary-color-1);
	display: flex;
	align-items: center;
	justify-content: center;
	&-2{
		background: var(--vkl-bg-bg-30);
	}
	&-4{
		background: var(--vkl-bg-bg-27);
	}
	&-5{
		background: var(--vkl-text-primary-color-5);
	}
	&-6{
		background: var(--vkl-text-primary-color-6);
	}
	&-7{
		background: var(--vkl-text-primary-color-7);
	}
	&-8{
		background: #F92B74;
	}
	&-9{
		background: var(--vkl-text-primary-color-9);
	}
	&-10{
		background: var(--vkl-text-paragrapgh-color-9);
	}
	
}

.loading-container,
.loading{
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}

.loading-container{
	margin: 40px auto
}

.loading{
	border: 1px solid transparent;
	border-color: transparent var(--vkl-text-text-white) transparent var(--vkl-text-text-white);
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
	&-2{
		border-color: transparent var(--vkl-text-heading-color-2) transparent var(--vkl-text-heading-color-2);
	}
	&-4{
		border-color: transparent var(--vkl-text-heading-color-2) transparent var(--vkl-text-heading-color-2);
	}
	&-5{
		border-color: transparent var(--vkl-text-heading-color-5) transparent var(--vkl-text-heading-color-5);
	}
	&-6{
		border-color: transparent var(--vkl-text-heading-color-6) transparent var(--vkl-text-heading-color-6);
	}
	&-7{
		border-color: transparent var(--vkl-text-heading-color-7) transparent var(--vkl-text-heading-color-7);
	}
	&-9{
		border-color: transparent var(--vkl-text-heading-color-9) transparent var(--vkl-text-heading-color-9);
	}
}
.loading-container:hover .loading,
.loading-container .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon {
    position: absolute;
    top: 59%;
    left: 58%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 70px;
}

@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}